# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/

# Dataset (IMPORTANT)
data/

# Models
models/
runs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/